.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:var(--shadow-color);
    display: flex;
    justify-content:center;
    align-items: center;

    .modal-content {
        width: 590px;
        height: 362px;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        background-color:var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 64px;

        > img {
            width: auto;
            height: 40px;
            filter: invert(26%) sepia(96%) saturate(1543%) hue-rotate(325deg) brightness(92%) contrast(89%);
        }

        > span{
            font-size: 24px;
            line-height: 32px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
        }
        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color:var(--white-200);
        }

        div{           
            display:flex;
            gap: 8px;

            > button{
                &.button{
                    background-color:var(--white-200);
                    transition: filter 0.2s;

                    &:hover{
                        filter:brightness(0.8);
                    }

                &#confirm{
                    background-color:var(--red-300);

                    &:hover{
                        background:var(--red-200);
                        }
                    }
                }
            }            
        }
    }    
}