.room-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: var(--white);
    border: 1px solid var(--purple-300);
    cursor: pointer;

    display: flex;

    transition: hover 0.2s;

    div {
        background: var(--purple-300);
        padding: 0 12px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        font-size: 14px;
        font-weight: 500;
    }
}
.empty-question-container{
    display: flex;
    justify-content: center;

    .without-question{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 290px;

        h2{
            font-family: 'Poppins', sans-serif;    
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
        }

        p{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color:var(--white-200);
        }
    }
}

#page-room header .content > div{
    button{
        &.outlined{                        
            border: 1px solid var(--purple-300);
            color:var(--purple-300);

            transition: hover 0.2s;

            &:hover{
                background:var(--red-200);
                color:var(--white);
                border: 1px solid var(--red-200);
            }
            
        }
    }
}

.room-question{
    .question-info{
        .delete-question{
        &:hover{
            filter: invert(26%) sepia(96%) saturate(1543%) hue-rotate(325deg) brightness(92%) contrast(89%);
            }   
        }
    }
}
