.button{
    padding: 8px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background:var(--purple-300);
    color:var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &.outlined {
      background:var(--white);
      border: 1px solid var(--purple-300);
      color: var(--purple-300);
    }

    &:not(:disabled):hover{
      background:var(--purple-200);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
  }